<html>
    <head>
        <title>home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>

        <div id="box">

            <section class="left">
                <pre>





         <img src="{% static 'img/3.jpg' %}" width="200" height="250">

                
        <h6 class="line1"><i class='bx bx-copyright'></i>2022 Pegasus Consulting All rights reserved.</h6></pre>
            </section>

            <section class="rigth">
                <section align="center">
                    <h1><strong>Teach-Ease</strong><sup>TM</sup></h1>
                </section>
                 <center>
                <h4><em>Quick to Teach; Easy to Learn</em></h4>
            </center>
                <p>
              
                <select class="xyz">
                    <option disabled selected value="">select user type</option>
                    <option value="option1">Application Admin</option>
                    <option value="option2">Organization Admin</option>
                    <option value="option3">Institution Admin</option>
                    <option value="option4">Principal</option>
                    <option value="option5">Teacher</option>
                    <option value="option6">student</option>
                </select ><br>
                <br>
                <center>
                <input type="text" placeholder="User name"></tr><br>
                <br>
                <input type="text" placeholder="password"></tr><br>
                <br>
                <input type="checkbox"><label for="">Remamber Me</label><br>
                <br>
                <input type="checkbox"><label> agree the Terms & Conditions and Privacy policy</label><br>
                <br>
            </center>
            <br>

                <center>
                  <section >
                    <button class="ab" ><i class='bx bx-log-in'></i>Login </button>
                </section>
               </center>
                </p>   
        
            </section>
           <pre class="ac">
























            <h6 class="line2">Powered by: appegic</h6>
           </pre> 
        </div>
        
    </body>
</html>